:root {

  --dark-background: rgba(0,0,0,0.7);
  --dark-background-light: rgba(0,0,0,0.5);
  --text-color: rgba(255,255,255,0.87);
  --accent-color: rgba(0,200,200,0.87);
  --accent-color-light: rgba(0,200,200,0.54);
}

body {
  --dot-spacing: 6px;
  --dot-size: 1px;
  --dot-delta: 799px;

  margin: 0;
  padding: 0;
  font-family: monospace;
  /* background-color: black; */
  background: 
    radial-gradient(var(--dark-background-light) 15%, transparent 16%) 0 0, 
      radial-gradient(var(--dark-background-light) 15%, transparent 16%) var(--dot-size) var(--dot-size), 
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 3px, 
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) var(--dot-size) 3px;
  background-color: #282828;
  
	background-size: var(--dot-spacing) var(--dot-spacing);
}
